<%= stylesheet_link_tag  'feed', media: 'all' %>

<div class='new-post-button'>
  <%= link_to new_post_path, class: "btn btn-secondary" do %>
    New post?
  <% end %>  <br>
  <!--
  <div>
    <%= button_to 'Logout', logout_path, method: :delete %>
  </div>
  -->
</div>

<h1>Hello <%=Current.user.first_name%> ðŸ‘‹ Welcome to your feed</h1> <br><br><br>



 <div class="container">
  <% @posts.each do |post| %>
 
    <div class="row">
      <div class="col-sm-4">
        <div class="posts-index-img d-inline">
          <% if post.user.avatar.attached? %>
            <%= image_tag(post.user.avatar.variant(
              resize_to_limit: [100, 100])
              )%>
          <% else %>
            <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
          <% end %>
        </div> <br>
        <%= post.user.first_name%>
        <%= post.user.last_name%> <br>
        <p style="color:grey" ><%= distance_of_time_in_words(post.created_at, Time.now)%> ago</p>
      </div>

      <div class="col-sm-8">
        <div id="user-post" class="row align-items-center">
          <p><%= post.message %></p>
       
          <% if post.image.attached? %>
            <%= image_tag(post.image.variant(
              resize_to_limit: [200, 200]))%>
          <% end %>
         </div> 
        <% thumbs_up_counter = 0 %>
        <% laugh_counter = 0 %>
        <% fire_counter = 0%>
        <% post.likes.each do |like|%>
          <%if like.react_type == "fire"%>
            <% fire_counter += 1 %>
          <%elsif like.react_type == "laugh"%>
            <% laugh_counter += 1 %>
          <%elsif like.react_type == "like"%>
            <% thumbs_up_counter += 1 %>
          <% end %>
        <% end %>
        
        <div>
          <% if post.likes.count >= 1 %>
          <div class="row justify-content-center">
            <div class="col-2"><%= button_to "ðŸ‘ #{thumbs_up_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'like' }%></div>
            <div class="col-2"><%= button_to "ðŸ˜‚ #{laugh_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'laugh' } %></div>
            <div class="col-2"><%= button_to "ðŸ”¥ #{fire_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'fire' } %></div>
          </div>
          <% else %>
          <div class="row justify-content-center">
            <div class="col-2"><%= button_to "ðŸ‘", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'like' }%></div>
            <div class="col-2"><%= button_to "ðŸ˜‚", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'laugh' } %></div>
            <div class="col-2"><%= button_to "ðŸ”¥", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'fire' } %></div>
          </div>
          <% end %>
        </div>
      



          <div id="comment-button">
            <a href="comment?<%=post.id%>"> Comment on this post ðŸ’¬</a>
          </div>

          <div class="row" >
            <% post.comments.map do |comment| %>
            <div class="col-sm-3">
              <% if comment.user.avatar.attached? %>
                  <%= image_tag(comment.user.avatar.variant(
                  resize_to_limit: [70, 70])
                  )%>
              <% else %>
                  <img class="avatar-index rounded-circle mx-auto" src="<%= "/images/default_user.png " %>" alt="Userimage">
              <% end %>
            </div>
            <div class="col-sm-9">
              <p id="comments-row"> <strong><%= comment.user.first_name%></strong> says <%= comment.content %> <br> <sub style="color:grey" ><%= distance_of_time_in_words(comment.created_at, Time.now)%> ago</sub></p> <br>
            </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="space-div"> </div>
     <% end %>
    </div>
    
</div>

 



















