<%= stylesheet_link_tag    'new_post', media: 'all' %>

<h1> Write new post below! </h1>

<div class="post-form">

<%= form_with model: @post, url: new_post_path, local: true do |form| %>
  <div class="post-message">
    <%= form.label :message %> <br>
    <%= form.text_area :message, class:'text_field'%>
  </div>
  
  <div class="post-message">
  <%= form.file_field :image, class:"form-control-file" %><br>
  </div>
  <div class="post-message">
    <%= form.text_field :user_id, value: Current.user.id, class:'d-none'%>
  </div>
  
  <div class="post-message-button">
  <%= form.submit "Submit"%>
  </div>
<% end %>

<div>